/*GENERAL*/
/*********/

body {
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	color: black;
	min-width: 300px;
    overflow-x: hidden;
}
h1 {
	font-size: 48px;
	font-weight: 700;
	margin-top: 135px;
	text-align: center;
}
h2 {
	font-weight: 400;
	margin-bottom: 60px;
	text-align: center;
}


/*Colors*/
:root {
	--main-color: blue;
	--secondary-color: #2c3e50;
	--text-color: #3d4c68;
	--footer-text-color: #a6b0b3; 
	--footer-main-color: #3d424f; 
	--footer-secondary-color: #2d2f3e;
	/*background-color: var(--main-color);*/
}

/*maxwidth + centering*/
.limitedWidthBlockContainer {
	display: flex;
	justify-content: center;
}
.limitedWidthBlock {
	width: 100%;
	max-width: 1400px;
	padding: 0 25px;
}

.logo {
	height: 50px;
}

/*informations*/
.informations {
	font-size: 13px;
	background-color: var(--main-color);
}
.informations img {
	height: 12px;
}
.informations ul {
	display: flex;
	padding-left: 0;
}
.informations ul li {
	display: flex;
	list-style: none;
	margin-right: 36px;
}
.informations__phone,
.informations__mail {
	margin-right: 10px;
}

/*menu*/
.menu {
	background-color: white;
}
.menu .limitedWidthBlock {
	display: flex;
	justify-content: space-between;
}
.menu a {
	display: flex;
	align-items: center;
	text-decoration: none;
}
.menu nav {
	display: flex;
}
.menu nav ul {
	display: flex;
	margin: 0;
	line-height: 130px;
}
.menu nav ul li {
	list-style: none;
	margin-left: 50px;
	color: var(--text-color);
}
.menu nav ul li:hover {
	font-weight: 600;
	color: blue !important;
}

.header {
    box-sizing: border-box;
    height: 90px;
    background-color: #FFFFFF;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    z-index: 100;
    box-shadow: 0 5px 10px rgb(0 0 0 / 0%);
}

@media screen and (min-width: 1024px) {
.top-nav{
  display: none;
}
}

#section1{
	display: flex;
    justify-content: space-between;
	padding: 40px 10px 20px 40px;
    background-image: url(/image/landing_mission.jpg);
    border-radius: 10px;
    box-shadow: 0 2px 10px 0 rgb(0 0 0 / 10%);
	margin: 0% 10%;
}

#section1 h3 {
	font-size: 34px;
    margin-bottom: 15px;
}

#section1 img{
	width: 70%;
	padding-top: 10%;
}

#article1{
	padding: 8% 10%;
}

#section2{
	display: flex;
    justify-content: space-between;
	padding: 20px 10px 20px 40px;
	margin: 2% 15%;
}

h1{
	margin: 0;
}

.col1{
	margin-right: 18px;
}

.chiffre {
	color: orangered;
    font-weight: 800;
    margin-bottom: 0;
    font-size: 70px;
}

.text{
	font-size: 38px;
    font-weight: 800;
    margin-bottom: 5px;
    line-height: 1.3;
    margin-bottom: 0;
}

p{
	font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    white-space: pre-wrap;
}

#section3{
	display: flex;
    justify-content: space-between;
	padding: 200px 100px 200px 100px;
    background-image: url(/image/get_app.jpg);
    background-size: cover;
    background-position: center center;
    background-image: no-repeat;
	border-radius: 10px;
    box-shadow: 0 2px 10px 0 rgb(0 0 0 / 10%);
	margin: 0% 20%;
}

#section3 h3 {
    font-size: 38px;
    font-weight: 800;
    margin-bottom: 5px;
    line-height: 1.3;
}

#aside3{
	width: 50%;
}

h6{
    font-size: 16px;
    font-weight: 800;
    margin-bottom: 10px;
    color: blue;
}

#section4,#section5,#section6,#section7{
	display: flex;
    justify-content: space-between;
	padding: 10px 10px 10px 40px;
    background-color: #FAFAFA;
    margin: 0% 20%;
}

#section4 img,#section5 img,#section6 img,#section7 img{
	width: 60%;
	padding: 10% 10%;
}

#section4 h3,#section5 h3,#section6 h3,#section7 h3,#section7 h3{
	font-size: 28px;
    margin-bottom: 10px;
}

#section7 img{
	width: 10%;
	padding: 22px;
}

#section8,#section8-5{
	display: flex;
    justify-content: space-between;
	padding: 0 20%;
}

#section8 p,#section8-5 p {
	color: white;
	font-size: 30px;
	font-weight: 700;

}

#section8 span,#section8-5 span {
	color: white;
	font-weight: 500;

}
.photo-link{
	background-image: url(/image/boba.png);
	background-size: cover;
    background-position: center center;
    background-image: no-repeat;
	padding: 5% 20%;
    border-radius: 10px;
    box-shadow: 0 2px 10px 0 rgb(0 0 0 / 10%);
	margin: 1% 0;
}

#section9{
	display: flex;
    justify-content: space-between;
	padding: 10px 10px 10px 40px;
    background-color: #FAFAFA;
    margin: 2% 20%;
}

#section9 img{
	width: 40%;
	padding: 0% 10%;
}

#section9 h3{
	font-size: 28px;
    margin-bottom: 10px;
}

#section9 button{
	height: 50px;
    min-width: 90px;
    padding: 0 25px;
    border-radius: 25px;
    border: none;
    background-color: orangered;
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    color: #FFFFFF;
    cursor: pointer;
    transition: all 0.2s;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
  
    box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
    white-space: nowrap;
}

/* Footer */

footer 
{
    display: flex;
    padding: 40px 12%;
    width: 100%;
    background: #000;
    margin-top: 92px;

}

.footer-liste1 img{
    width: 200px;
}

.footer-liste1
{
    padding-left: 3%;
    padding-right: 20%;
    width: 15%;
    min-width: 100px;
    color: #FFFFFF;
}

.footer-liste
{
    padding-left: 22px;
    width: 12%;
    padding-top: 3.2%;
    color: #FFFFFF;
}

.footer-liste a,.footer-liste1 a
{
    color: #FFFFFF;
    text-decoration: none;
}

.footer-liste ul,.footer-liste1 ul 
{
    list-style: none;
    color: #B8B8B8;
    cursor: pointer;

}

.footer-liste ul:hover,.footer-liste1 ul:hover 
{
    color: #ffffff;

}

.footer-liste li,.footer-liste1 li 
{
    margin-top: 15px;
    margin-left: -40px;
}