/*GENERAL*/
/*********/
 html{
    width: 100vw;
 
 }
body {
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	color: black;
	min-width: 300px;
    width: 100vw;
    height: 100vh;
   overflow-x: hidden;
}
h1 {
	font-size: 48px;
	font-weight: 700;
	margin-top: 135px;
}
h2 {
	font-weight: 400;
	margin-bottom: 60px;
	text-align: center;
}
.logo {
	height: 50px;
}

  

/*maxwidth + centering*/
.limitedWidthBlockContainer {
	display: flex;
	justify-content: center;
}
.limitedWidthBlock {
	width: 100%;
	max-width: 1400px;
	padding: 0 25px;
}

/*Colors*/
:root {
	--main-color: #3498db;
	--secondary-color: #2c3e50;
	--text-color: #3d4c68;
	--footer-text-color: #a6b0b3; 
	--footer-main-color: #3d424f; 
	--footer-secondary-color: #2d2f3e;
	/*background-color: var(--main-color);*/
}

/*maxwidth + centering*/
.limitedWidthBlockContainer {
	display: flex;
	justify-content: center;
}
.limitedWidthBlock {
	width: 100%;
	max-width: 1400px;
	padding: 0 25px;
}

.logo {
	height: 50px;
}

/*informations*/
.informations {
	font-size: 13px;
	background-color: var(--main-color);
}
.informations img {
	height: 12px;
}
.informations ul {
	display: flex;
	padding-left: 0;
}
.informations ul li {
	display: flex;
	list-style: none;
	margin-right: 36px;
}
.informations__phone,
.informations__mail {
	margin-right: 10px;
}

/*menu*/

.menu .limitedWidthBlock {
	display: flex;
	justify-content: space-between;
}
.menu a {
	display: flex;
	align-items: center;
	text-decoration: none;
  list-style: none;
  line-height: 50px;
}
.menu nav {
	display: flex;
}
.menu nav ul {
	display: flex;
	margin: 0;
	line-height: 130px;
  text-decoration: none;
	list-style: none;
  align-items: center;


}
.menu nav ul li {
	list-style: none;
	margin-left: 50px;
	color: var(--text-color);
  text-decoration: none;
  align-items: center;


}
.menu nav ul li:hover {
	font-weight: 600;
	color: blue !important;
}

.header {
    box-sizing: border-box;
    height: 90px;
    background-color: #FFFFFF;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    z-index: 100;
    box-shadow: 0 5px 10px rgb(0 0 0 / 0%);
}

@media screen and (min-width: 1024px) {
.top-nav{
  display: none;
}
}

#section1{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 150px;
    padding-top: 150px;
    color:#000;
    background-image: url(/image/santorini-greece-greek-summer-aegean-sea-vacation-travel-tourism-view-vector.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -150px;
    padding-top: 200px;
    margin: -150px 25px 0;
}

#section1 h1 {
	font-size: 50px;
    margin-top: 30px;
    margin-bottom: 15px;
    text-align: center;

}
#section1 p {
	font-size: 17px;
    margin-top: 15px;
    text-align: center;
}

.application-area{
  background-color: white;
  padding:50px;
  width: 85%;
}

  .application-area form.search-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

  .application-area .select-form{
  padding: 15px;
}

#slider {
    padding: 5px;
    display: flex;
    width: fit-content;
} 

.item{

    min-width: 200px;
    height: 250px;
    background-color: blue;
    margin: 10px;

    /* background image sizig  */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;


    /* box shadow */
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
    border-radius: 5px;

}

.started{
	height: 50px;
    min-width: 90px;
    padding: 0 25px;
    border-radius: 25px;
    border: none;
    background-color: orangered;
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    color: #ffffff;
    cursor: pointer;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    align-items: center;
    box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
    white-space: nowrap;
    margin: 27px 0 32px 0;
}

#section2{
	display: flex;
    justify-content: space-between;
    background-color: #FAFAFA;
	margin: 10% 10% 10% 20%;
}

#article2{
    width: 80%;
}


#section2 h1 {
	font-size: 34px;
    margin-bottom: 15px;
}

#section2 video{
	width: 55%;
    padding-left: 40px;
}
#section3{
    text-align: center;
}

#section3 img{
	width: 7%;
	padding: 22px;
}

#section4{
  margin: 0 20% 5% 20%;

}
.container { 
    max-width: 60%; 
    height: 100%;
    margin: 0 auto; 
    padding: 20px;
  }
  

  .tabs {
    position: relative;
    display: flex;
    min-height: 500px;
    border-radius: 8px 8px 0 0;
    overflow: hidden;
  }

  .tabs h2 {
    margin: 6% 0 10px 0;  
    text-align: start;
    font-weight: 800;
    font-size: 32px;
}
  
  .tabby-tab {
    flex: 1;
  }
  
  .tabby-tab label {
    display: block;
    box-sizing: border-box;
      height: 100px;
    
    padding: 10px;
    text-align: center;
    cursor: pointer;
    transition: background 0.5s ease;
    border-radius: 12px;
    border: solid 1.5px #F3F3F3;
    margin: 0 15px;
  }
  
  .tabby-tab label:hover {
    background: #7B93FF;
  }

  .tabby-tab img{
    width: 40px;
  } 
  
  .tabby-content {
    position: absolute;
    
    left: 0; bottom: 0; right: 0;
      top: 40px; 
    
    padding: 90px 20px 20px;
    border-radius: 0 0 8px 8px;
    
    transition: 
      opacity 0.8s ease,
      transform 0.8s ease   ;
    
      opacity: 0;
      transform: scale(0.1);
      transform-origin: top left;
    
  }
  
  .tabby-content img {
    float: right;
    margin-right: 20px;
    border-radius: 8px;
    width: 450px;
    padding-left: 52px;
  }
  
  
  
  .tabby-tab [type=radio] { display: none; }
  [type=radio]:checked ~ label {
    background: #7B93FF;
    z-index: 2;
  }
  
  [type=radio]:checked ~ label ~ .tabby-content {
    z-index: 1;
    
      opacity: 1;
      transform: scale(1);
  }
  
  /* BREAKPOINTS ----- */
  @media screen and (max-width: 767px) {
    .tabs { min-height: 400px;}
  }
  
  @media screen and (max-width: 480px) {
    .tabs { min-height: 580px; }
    .tabby-tab label { 
      height: 60px;
    }
    .tabby-content { top: 60px; }
    .tabby-content img {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }

#newsletter{
	background-color: #7B93FF;
    color: #FFFFFF;
    border-radius: 10px;
    padding: 40px;
	margin: 0 15%;
	display: flex;
}

.news-text{
	width: 45%;
}

.news-form{
	width: 55%;
	margin-top:3%;
}

#newsletter h3{
	font-size: 34px;
    margin-bottom: 15px;
}


.mail-button{
	margin: 12px 10%;
}

#newsletter input{
	height: 50px;
    width: 75%;
    padding-left: 30px;
    padding-right: 30px;
    margin-right: -30px;
    border: solid 2px #FFFFFF;
	border-radius: 25px 0 0 25px;
    background: #8B9FF3;
    outline: none;
    transition: all 0.3s;
    font-weight: 600;
    color: #FFFFFF;
}

#newsletter button{
	height: 57px;
    min-width: 90px;
    padding: 0 25px;
    border-radius: 25px;
    border: none;
    background-color: #FFFFFF;
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    color: #7B93FF;
    cursor: pointer;
	margin: -20px;
}

.sous-news{
	text-align: center;
}
/* Footer */

footer 
{
    display: flex;
    padding: 20px 10%;
    width: 100%;
    background: #000;
    margin-top: 92px;

}

.footer-liste1 img{
    width: 200px;
}

.footer-liste1
{
    padding-left: 3%;
    padding-right: 20%;
    width: 15%;
    min-width: 100px;
    color: #FFFFFF;
}

.footer-liste
{
    padding-left: 22px;
    width: 15%;
    padding-top: 3.3%;
    color: #FFFFFF;
}

.footer-liste a,.footer-liste1 a
{
    color: #FFFFFF;
    text-decoration: none;
}

.footer-liste ul,.footer-liste1 ul 
{
    list-style: none;
    color: #B8B8B8;
    cursor: pointer;

}

.footer-liste ul:hover,.footer-liste1 ul:hover 
{
    color: #ffffff;

}

.footer-liste li,.footer-liste1 li 
{
    margin-top: 15px;
    margin-left: -40px;
}