@media screen and (max-width: 768px) {
    html{
        width: 100vw;
        overflow-x: hidden;  
    }
    
    body {
        margin: 0px;
    }

    /* Header */

    header {
        flex-direction: column;
        height: 150px;
        padding-left: 0%;
        padding-right: 0%;
    }

    .logo {
        height: 30px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: 20px;
    }

    .top-nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        color: #FFF;
        height: 50px;
        padding: 1em;
    }

    .menu {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .menu>li {
        margin: 0 1rem;
        overflow: hidden;
    }

    .menu-button-container {
        display: none;
        height: 100%;
        width: 30px;
        cursor: pointer;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #menu-toggle {
        display: none;
    }

    .menu-button,
    .menu-button::before,
    .menu-button::after {
        display: block;
        background-color: #000000;
        position: absolute;
        height: 4px;
        width: 30px;
        transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
        border-radius: 2px;
    }

    .menu-button::before {
        content: '';
        margin-top: -8px;
    }

    .menu-button::after {
        content: '';
        margin-top: 8px;
    }

    #menu-toggle:checked+.menu-button-container .menu-button::before {
        margin-top: 0px;
        transform: rotate(405deg);
    }

    #menu-toggle:checked+.menu-button-container .menu-button {
        background: rgba(255, 255, 255, 0);
    }

    #menu-toggle:checked+.menu-button-container .menu-button::after {
        margin-top: 0px;
        transform: rotate(-405deg);
    }

    @media (max-width: 700px) {
        .menu-button-container {
            display: flex;
        }

        .menu {
            position: absolute;
            top: 0;
            margin-top: 50px;
            left: 0;
            flex-direction: column;
            width: 100%;
            justify-content: center;
            align-items: center;
        }

        #menu-toggle~.menu li {
            height: 0;
            margin: 0;
            padding: 0;
            border: 0;
            transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
        }

        #menu-toggle:checked~.menu li {
            border: 1px solid #333;
            height: 2.5em;
            padding: 0.5em;
            transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
        }

        .menu>li {
            display: flex;
            justify-content: center;
            margin: 0;
            padding: 0.5em 0;
            width: 100%;
            color: white;
            background-color: #222;
        }

        .menu>li:not(:last-child) {
            border-bottom: 1px solid #444;
        }

        main {
            margin-left: 0;
        }

        #section1 {
            margin: 0;
            padding: 10px;
            border-radius: 0;
        }

        #section1 h1 {
            font-size: 30px;
            margin-top: 50px;
        }

        h1 {
            font-size: 25px;
            margin-top: 20px;
        }

        #section2 {
            margin-top: 150px;
            padding: 10px;
            border-radius: 0;
            margin: 150px 5%;
            display: block;
            text-align: center;
        }

        #section3,
        #section4,
        #section4-2,
        #section4-3,
        #section7 {
            margin-top: 50px;
            padding: 10px;
            border-radius: 0;
            margin: 50px 5%;
            display: block;
            text-align: center;
        }

        #section2 h3,
        #section3 h3,
        #section4 h3,
        #section4-2 h3,
        #section4-3 h3 {
            font-size: 26px;
            margin-top: 20px;
        }

        #section2 img {
            width: 100%;
        }

        .container {
            max-width: 90%;
            height: 100%;
            margin: 0 auto;
            padding: 10px;
        }


        .tabs {
            position: relative;
            display: flex;
            min-height: 700px;
            border-radius: 8px 8px 0 0;
            overflow: hidden;
        }

        .tabs h2 {
            margin: 0% 0 10px 0;
            text-align: start;
            font-weight: 800;
            font-size: 22px;
        }


        .tabby-content img {
            width: 100%;
        }

        .row {
            display: flex;
            flex-wrap: wrap;
            padding: 0 4px;
            margin: 0 2% 0 2%
        }

        .column1,
        .column2 {
            flex: 40%;
            max-width: 50%;
        }

        .column3,
        .column4 {

            display: none;
        }


        #newsletter {
            padding: 20px 20px 72px 20px;
            margin: 0 5%;
            display: block;
        }

        .news-text {
            width: 100%;
        }

        .news-form {
            width: 100%;
            margin-top: 3%;
        }

        #newsletter h3 {
            font-size: 34px;
            margin-bottom: 15px;
        }


        .mail-button {
            margin: 12px 5%;
        }

        #newsletter input {
            height: 50px;
            width: 80%;
            padding-left: 30px;
            padding-right: 30px;
            border: solid 2px #FFFFFF;
            border-radius: 25px;
            font-weight: 600;
        }

        #newsletter button {
            height: 57px;
            min-width: 290px;
            margin: 10px 0%;
        }

        .sous-news {
            text-align: center;
        }

        /*////////////////////*/
        /* Footer */

        footer {
            flex-direction: column;
            padding: 40px 5%;
            overflow-x: h;
        }

        .footer-liste1 {
            width: 100%;
            padding-right: 0;
        }

        .footer-liste {
            padding-left: 10px;
            width: 100%;
        }

    }

    @media screen and (max-width: 1024px) {
        header {
            display: none;
        }
    }